/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./header.css');

/* @import url('./mobile-menu.css');

@import url('./hero.css');
@import url('./order-modal.css');
@import url('./order-media.css');
@import url('./howitworks.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./fruits.css'); */

:root {
  font-family: 'DM Sans';
  --color-black: #000000;
  --color-red: #ae1332;
  --color-green: #a4cb66;
  --color-yellow: #f5ce13;
  --color-white: #ffffff;

  --follow-in-line: 1;
  --fruits-in-line: 1;
  font-style: normal;
}
body {
  padding-top: 50px;
}
/* Загальний стилі для КОНТЕЙНЕРІВ (мобільна версія) */
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.go-top {
  display: none;
  z-index: 100;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 5%;
  height: 5%;
  border-radius: 50%;
  opacity: 0.5;

  background-image: url('../img/to-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.go-top.show {
  display: block;
}

.main {
  background-color: #ae1332;
}

/* Загальні стилі для таблету */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Загальні стилі для десктопу */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 33px;
  }
}
